@page "/"

<PageTitle>Index</PageTitle>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Ryan's Blog'</title>
<!-- Font Awesome icons (free version)-->
<link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
<link rel="icon" type="image/x-icon" href="img/favicon.ico" />


<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Ryan's Blog</h1>
                    <span class="subheading">A blog displaying my course note. <br/> Hope some of my note will be helpful!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->

<div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="@NoteBookUrl" class="effect-lily tm-post-link tm-pt-20">
                        <div class="tm-post-link-inner">
                            <img src="img/Right Click Menu.png" alt="Image" class="img-fluid">
                        </div>
                        <span class="position-absolute tm-new-badge">New</span>
                        @*<h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>*@
                    </a> 
                    <div class="post-preview">
                        <a href="@NoteBookUrl">
                            <h2 class="post-title">Fastest way to use Jupyter Notebook</h2>
                            @*<h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>*@
                        </a>
                        <p class="post-meta">
                            This Note talks about how to open an exist notebook file, and create a new one, just like creating a new word file and open it.
                        </p>
                    </div>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Jupyter Notebook . Batch file</span>
                        <span class="tm-color-primary">May 17, 2022</span>
                    </div>
                </article>
                

                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="./post/Jupyter Notebook.html" class="effect-lily tm-post-link tm-pt-20">
                        <div class="tm-post-link-inner">
                            <img src="img/Git_cover.png" alt="Image" class="img-fluid">
                        </div>
                        @*<h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>*@
                    </a> 
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">GitHub Setup</h2>
                            @*<h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>*@
                        </a>
                        <p class="post-meta">
                            This is a Demo repo to give a brief introduction to Git command. Including:
                        <ul>
                            <li><span>start up a project</span></li>
                            <li><span>synchronize the project</span></li>
                            <li><span>basic chagnes</span></li>
                            <li><span>stage, stash on local machine</span></li>
                            <li><span>branch managingt</span></li>
                        </ul>
                        </p>
                    </div>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">GitHub . Intro . code</span>
                        <span class="tm-color-primary">May 16, 2022</span>
                    </div>
                </article>


                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="./post/Jupyter Notebook.html" class="effect-lily tm-post-link tm-pt-20">
                        <div class="tm-post-link-inner">
                            <img src="img/book_cover.png" alt="Image" class="img-fluid">
                        </div>
                        @*<h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>*@
                    </a> 
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Statistical Patter Recognition</h2>
                            @*<h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>*@
                        </a>
                        <p class="post-meta">
                            Taught by Professor Carey Priebe. All the content comes from textbook: "A Probabilistic Theory of Pattern Recognition" by Luc Devroye, Laszlo Gyorfi 
                        and Gabor Lugosi.
                        </p>
                        <p class="post-meta">
                            DGL + Carey = Understanding!
                        </p>
                    </div>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Statistical</span>
                        <span class="tm-color-primary">May 10, 2022</span>
                    </div>
                </article>
                
                
            </div>
            <div class="row tm-row tm-mt-100 tm-mb-75">
                <div class="tm-prev-next-wrapper">
                    <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20">Prev</a>
                    <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
                </div>
                <div class="tm-paging-wrapper">
                    <span class="d-inline-block mr-3">Page</span>
                    <nav class="tm-paging-nav d-inline-block">
                        <ul>
                            <li class="tm-paging-item active">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">1</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">2</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">3</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">4</a>
                            </li>
                        </ul>
                    </nav>
                </div>                
            </div>            
            <footer class="row tm-row">
                <hr class="col-12">
                <div class="col-md-6 col-12 tm-color-gray">
                    Design: <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-external-link">TemplateMo</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    By Zhenge Wang, 2022
                </div>
            </footer>
        </main>
    </div>


@code{
    public string NoteBookUrl { get; set; } = "\\NotebookSetUp";

}